<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FDND - This Website is Mine!</title>

    {% comment %} <link rel="stylesheet" href="/style.css"> {% endcomment %}

    <style>
      body{
        margin: 0;
        padding: 0;
        font: 20px/1.5 "Fira Sans", sans-serif;
      }
      .edit{
        display: grid;
        grid-template-columns: 2fr 1fr;
        height: 100vh;
      }
      aside#form{
        background: rgb(10 10 10 / 20%);
        padding: 2rem;
        label{
          display: block;
          margin: 1rem 0;
        }
        input, textarea{
          display: block;
          /* width: fit-content; */
        }
      }

      /* colors */
      .green{
        background: DARKSEAGREEN;
        color: DARKSEAGREEN;
      }
      .red{
        background: LIGHTCORAL;
        color: LIGHTCORAL;
      }
      .blue{
        background: THISTLE;
        color: THISTLE;
      }
      .grey{
        background: #ddd;
        color: black;`
      }

      main{
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        max-width: 20rem;
        height: 40rem;
        padding: 0;
        padding-top: 2rem;
        margin: 2rem auto;
        background: #ccc;
        border-radius: 1rem;
      }
      main > *{
        margin: 0;
        padding: 0 2rem;
      }
      header{
        background: rgb(0 0 0 / 60%);
        color: rgb(255 255 255 / 40%);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1rem;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font: small monospace;
      }
      code{
        position: absolute;
        left: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        line-height: 1.1;
      }
      {{ person.style }}

</style>

</head>
<body>


{% if persons %}

  <h1>Alle websites:</h1>

  <ul>
    {% for person in persons %}
        <li>
          <a href="/mywebsite/{{ person.id }}">{{ person.name }}</a> - {{ person.bio | truncate: 30 }}
        </li>
    {% endfor %}
  </ul>

  <form method="post" action="/createwebsite">

  <h2>Maak je eigen website:</h2>

  <label>
    <span>Naam:</span>
    <input type="text" name="from" placeholder="Naam" required>
  </label>
  <input type="hidden" name="title" value="Titel van jouw website">
  <input type="hidden" name="text" value="Schrijf hier iets over jezelf">
  <input type="hidden" name="code" value=".card{
 background-color: THISTLE;
}
.title{
 color: LIGHTCORAL;
 font-family: impact;
 font-size: xx-large;
}
.text{
 background-color: gold;
 color: black;
 font-family: fantasy;
}">
  <button type="submit" id="stuur">Maak website</button>

</form>
 

{% else %}

  <div class="edit">

    <main class="card">

      <header>Deze website is van {{ person.name }}</header>

      <h1 class="title">{{ person.title }}</h1>

      <p class="text">
        {{ person.bio }}
      </p>

      {% comment %} <code class="code">
        {{ person.style }}
      </code> {% endcomment %}

    </main>

    <aside id="form">
      <a href="/mywebsite">terug</a>
      
      <form method="post" action="/savewebsite">

        <h2>Gegevens opslaan</h2>

        <label>
          <span>Naam:</span>
          <input type="text" name="from" placeholder="Naam" value="{{ person.name }}">
        </label>

        <label>
          <span>Titel:</span>
          <input type="text" name="title" placeholder="typ typ typ" value="{{ person.title }}">
        </label>

        <label>
          <span>Bio:</span>
          <textarea name="text" placeholder="typ typ typ">{{ person.bio }}</textarea>
        </label>

        <label>
          <span>CSS Style:</span>
          <textarea name="code" placeholder="all we do is code">{{ person.style }}</textarea>
        </label>

        <input name="id" type="hidden" value="{{ person.id }}">
        <button type="submit" id="stuur">Opslaan</button>

      </form>

      <details>
        <summary>Data</summary>
        My website
        <pre>{{ person | json:4 }}</pre>
      </details>

    </aside>

  </div>

{% endif %}

</body>
</html>